/**
 * Podamibe facebook widgets style
 *
 */

 .pfw-widget-body{

 }
 
 .pfw-block{

 }

 .pfw-footer-icon{

 }

 .pfw-icon{
 	padding:10px;
 	color: #365899;
 	font-size: 20px;
 }

 .pfw-main-title{
 	text-align: center;
 }
